#sidenav-overlay{
    z-index: 0
}
.menu-item li a{
	border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    box-shadow: none;
}
.menu-item li a.btn{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.menu-item li a:hover {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	background-color: #d82f82;
}
.bold-border{
	width: 80px;
    background: #ffffff;
    height: 4px;
}
.btn-large-bordered{
	height: 45px;
	line-height: 45px;
	border: 1px solid #ffffff;
}
.custom-input-field .select-wrapper input.select-dropdown{
	margin-left: 10px;
	border-bottom: none;
	padding-top: 3px;
}

.custom-input-field .select-wrapper span.caret{
	margin-right: 10px;
}
.progress{
	background-color: #f8a7ba;
}
.progress .indeterminate{
	background-color: #f33671;
}
.user-image{
	width: 50px;
}
input[type=range]+.thumb{
    background-color: #f33671;
}
.switch label input[type=checkbox]:checked+.lever:after{
    background-color: #f33671;
}
.switch label input[type=checkbox]:checked+.lever {
    background-color: #f3367170;
}
.group-btn{
	padding: 10px;
    line-height: 15px;
    background-color: #ffffff;
    color: #505050;
    border: 1px solid #505050;
    border-radius: 0;
    margin-left: -5px;
}
.pagination li.active{
	background-color: #e64f99;
}
.bubble-bg{
	background-image: url(../images/bubble-bg.png);
	background-repeat: no-repeat;
    height: 200px;
}
.bubble-text{
	padding-left: 55px;
    padding-top: 60px;
    font-size: 55px;
}
.audience-item {
	border: 1px solid #dddddd;
    width: 84px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    font-size: 12px;
}
.audience-item .progress{
	width: 65%;
    margin-left: 15px;
    margin-top: 5px;
}
.audience-item .progress .determinate {
	background-color: #e64f99;
}
/*==== search field ====*/
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #41c0d9e0;
}
.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../images/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}
.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	z-index: 9999;
}
input[type="text"].custom-search-field::-webkit-input-placeholder {
  color: #FFFFFF;
}
.custom-search-field {
	border-bottom: 2px solid #ffffff !important;
    font-size: 50px !important;
    font-weight: 100 !important;
    padding-bottom: 20px !important;
    color: #ffffff !important;
}
/*==== search field ====*/


/*==== footer ====*/
.footer-menu li a{
    color: #999999;
    text-transform: uppercase;
    font-size: 12px;
}
.footer-menu li a:hover{
    color: #756f6f;
}
/*==== footer ====*/

