div#reg-form {
    position: relative;
    margin-top: 80px;
}
.form-heading {
    margin-top: 20px;
    margin-bottom: 15px;
}
.form-heading h3 {
    margin: 0;
}
.ngl {
	position: absolute;
  	top: -20px;
  	right: -20px;	
}  
  