<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/style.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="navbar-fixed">
        <nav class="background-pink" role="navigation">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo padding-top-10"><img src="images/logo.png" /></a>
                    <ul class="right hide-on-med-and-down menu-item">
                        <li><a href="#">INFLUENCERS</a></li>
                        <li><a href="#">FANS</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">BLOG</a></li>
                        <li><a href="#">CONTACT</a></li>
                        <li><a class="margin-top-15" id="trigger-overlay"><i class="small material-icons line-height-36">search</i></a></li>
                        <li><a class="btn waves-effect waves-light btn-dark-pink margin-right-0">Sign in</a></li>
                    </ul>
                    <ul class="side-nav" id="nav-mobile">
                        <li><a href="#">INFLUENCERS</a></li>
                        <li><a href="#">FANS</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">BLOG</a></li>
                        <li><a href="#">CONTACT</a></li>
                    </ul>
                    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                </div>
                <div class="overlay overlay-hugeinc">
                    <button type="button" class="overlay-close">Close</button>
                    <div class="centered">
                        <div class="center-align">
                            <div class="row">
                                <div class="input-field col offset-m3 m6 offset-s2 s8">
                                  <input type="text" class="custom-search-field" placeholder="What are you looking for...">
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div>
        <div class="container padding-v-20">
            <div class="row">
                <div class="col m12 s12 right-align">
                    <a class="waves-effect waves-light btn btn-pink-bordered">Continue Shopping</a>
                </div>
            </div>
            <div class="background-pink">
                <div class="row margin-0">
                    <div class="col m6 s6">
                        <h4 class="text-white font-weight-300 padding-h-15">Currently in your cart</h4>
                    </div>
                    <div class="col m6 s6 right-align">
                        <a class="waves-effect waves-light btn btn-blue margin-top-10">Proceed to Checkout</a>
                    </div>
                </div>
            </div>
            <div class="background-grey padding-25">
                <div class="center-align padding-v-20 border-grey background-dark-grey">
                    <h5 class="">This is an interim offer, personalized ...</h5>
                </div>
                <div class="row padding-top-10 z-depth-1 background-white margin-0 margin-top-20">
                    <div class="col s2">
                        <img src="images/dummy-img-checkout.png">
                    </div>
                    <div class="col s4 padding-h-20">
                        <p class="margin-0">Itemnamename and a short description</p>
                        <p class="margin-0">Number:</p>
                        <p class="margin-0">Color:</p>
                        <p class="margin-0">Size:</p>
                        <p class="">Delete | Save for later</p>
                    </div>
                    <div class="col s3 right-align">
                        <p class="margin-0"><b>$333.33</b></p>
                    </div>
                    <div class="col s3 right-align">
                        <a class="waves-effect waves-light btn btn-blue">1</a>
                        <a class="waves-effect waves-light btn btn-blue">1</a>
                    </div>
                </div>
                <div class="row padding-top-10 z-depth-1 background-white margin-0 margin-top-20">
                    <div class="col s2">
                        <img src="images/dummy-img-checkout.png">
                    </div>
                    <div class="col s4 padding-h-20">
                        <p class="margin-0">Itemnamename and a short description</p>
                        <p class="margin-0">Number:</p>
                        <p class="margin-0">Color:</p>
                        <p class="margin-0">Size:</p>
                        <p class="">Delete | Save for later</p>
                    </div>
                    <div class="col s3 right-align">
                        <p class="margin-0"><b>$333.33</b></p>
                    </div>
                    <div class="col s3 right-align">
                        <a class="waves-effect waves-light btn btn-blue">1</a>
                        <a class="waves-effect waves-light btn btn-blue">1</a>
                    </div>
                </div>
                <div class="row padding-top-10 z-depth-1 background-white margin-0 margin-top-20">
                    <div class="col s2">
                        <img src="images/dummy-img-checkout.png">
                    </div>
                    <div class="col s4 padding-h-20">
                        <p class="margin-0">Itemnamename and a short description</p>
                        <p class="margin-0">Number:</p>
                        <p class="margin-0">Color:</p>
                        <p class="margin-0">Size:</p>
                        <p class="">Delete | Save for later</p>
                    </div>
                    <div class="col s3 right-align">
                        <p class="margin-0"><b>$333.33</b></p>
                    </div>
                    <div class="col s3 right-align">
                        <a class="waves-effect waves-light btn btn-blue">1</a>
                        <a class="waves-effect waves-light btn btn-blue">1</a>
                    </div>
                </div>
                <div class="row padding-top-10 z-depth-1 background-white margin-0 margin-top-20">  
                    <div class="col s4 offset-s6">
                        <p class="margin-0">Subtotal (3 Items)</p>
                        <p class="margin-0 text-grey">Standard Next Business Day Shipping</p>
                        <p class="margin-0 text-grey">Estimated TAX to be collected</p>
                        <p><b>Grand Total</b></p>
                    </div>
                    <div class="col s2 right-align">
                        <p class="margin-0">$ 999.99</p>
                        <p class="margin-0 text-grey">FREE</p>
                        <p class="margin-0 text-grey">&amp; 0.00</p>
                        <p><b>$999.99</b></p>
                    </div>
                </div>
            </div>
            <div class="row margin-top-20">
                <div class="col s5">
                    <a class="waves-effect waves-light btn btn-pink-bordered">Continue Shopping</a>
                </div>
                <div class="col s4 right-align">
                    <p class="margin-0">Have a Gift Card or Coupon Code?</p>
                    <p class="margin-0">Proceed to checkout to redeem it.</p>
                </div>
                <div class="col s3">
                    <a class="waves-effect waves-light btn btn-pink">Proceed to Checkout</a>
                    <p class="center-align">Shipping &amp; Returns Policy</p>
                </div>
            </div>
            <div class="row margin-0 background-grey padding-25">
                <div class="center-align">
                    <h3 class="font-weight-300">eGift Certificates &amp; Gift Card</h3><span>Send one today</span>
                </div>
            </div>
        </div>
    </div>
    <footer class="padding-v-40 background-grey">
        <div class="container">
            <div class="row">
                <div class="col m3 s6">
                    <img src="images/logo-grey.png" />
                    <p class="margin-0">Create your content</p>
                    <p class="margin-0">Sell your product</p>
                    <p class="text-grey margin-top-55">&copy; 2017 YOOBE</p>
                </div>
                <div class="col m3 s6">
                    <p class="text-grey">YOOBE.ME</p>
                    <ul class="footer-menu">
                        <li><a href="">About Us</a></li>
                        <li><a href="">Influencers</a></li>
                        <li><a href="">Fans</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                    <div class="row">
                      <form class="col s12">
                        <div class="row">
                          <div class="input-field col s12">
                            <input id="email" type="email" class="validate">
                            <label for="email" data-error="wrong" data-success="right">Subscribe to yoobe news</label>
                          </div>
                          <a class="waves-effect waves-light btn btn-pink margin-left-10">Subscribe</a>
                        </div>
                      </form>
                    </div>
                </div>
                <div class="col m3 s6">
                    <p class="text-grey">INFORMATION</p>
                    <ul class="footer-menu">
                        <li><a href="">Terms and Conditions</a></li>
                        <li><a href="">Privacy policy</a></li>
                        <li><a href="">Faq</a></li>
                    </ul>
                </div>
                <div class="col m3 s6">
                    <p class="text-grey">INSTAGRAM</p>
                    <ul class="list-inline">
                        <li><img src="images/dummy-img.png" /></li>
                        <li><img src="images/dummy-img.png" /></li>
                        <li><img src="images/dummy-img.png" /></li>
                        <li><img src="images/dummy-img.png" /></li>
                        <li><img src="images/dummy-img.png" /></li>
                        <li><img src="images/dummy-img.png" /></li>
                    </ul>
                    <p class="text-grey">FOLLOW US</p>
                    <ul class="list-inline">
                        <li class="margin-right-5"><a class="btn-floating waves-effect waves-light btn-facebook"><i class="fa fa-facebook"></i></a></li>
                        <li class="margin-right-5"><a class="btn-floating waves-effect waves-light btn-twitter"><i class="fa fa-twitter"></i></a></li>
                        <li class="margin-right-5"><a class="btn-floating waves-effect waves-light btn-instagram"><i class="fa fa-instagram"></i></a></li>
                        <li class="margin-right-5"><a class="btn-floating waves-effect waves-light btn-pinterest"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="https://use.fontawesome.com/cb12bcc530.js"></script>
    <script src="js/init.js"></script>
    <script src="js/modernizr.custom.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/search.js"></script>
</body>

</html>