<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/style.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="navbar-fixed">
        <nav class="background-pink" role="navigation">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo padding-top-10"><img src="images/logo.png" /></a>
                    <ul class="right hide-on-med-and-down menu-item">
                        <li><a href="#">INFLUENCERS</a></li>
                        <li><a href="#">FANS</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">BLOG</a></li>
                        <li><a href="#">CONTACT</a></li>
                        <li><a class="margin-top-15" id="trigger-overlay"><i class="small material-icons line-height-36">search</i></a></li>
                        <li><a class="btn waves-effect waves-light btn-dark-pink margin-right-0">Sign in</a></li>
                    </ul>
                    <ul class="side-nav" id="nav-mobile">
                        <li><a href="#">INFLUENCERS</a></li>
                        <li><a href="#">FANS</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">BLOG</a></li>
                        <li><a href="#">CONTACT</a></li>
                    </ul>
                    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                </div>
                <div class="overlay overlay-hugeinc">
                    <button type="button" class="overlay-close">Close</button>
                    <div class="centered">
                        <div class="center-align">
                            <div class="row">
                                <div class="input-field col offset-m3 m6 offset-s2 s8">
                                  <input type="text" class="custom-search-field" placeholder="What are you looking for...">
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <p class="font-size-20 text-brown"><span><img src="images/user.png" class="user-image"/></span> <span class="position-absolute margin-top-15 margin-left-10">Millie Bobby Brown</span></p>
    </div>
    <div class="border-top-5">
        <div class="background-grey padding-v-20">
            <div class="container">
                <h5 class="margin-0">MY IMAGES</h5>
                <p class="margin-0">Here you can control all Fan Art that you sent to your favorites influencers waiting for his approval.</p>
            </div>
        </div>
        <div class="container z-depth-1 background-white">
            <table class="bordered highlight responsive-table margin-v-20">
                <thead>
                  <tr>
                      <th class="padding-left-10">IMAGE</th>
                      <th>NAME</th>
                      <th>CERTIFICATE</th>
                      <th>INFLUENCER</th>
                      <th>PRODUCTS</th>
                      <th>ART PRICE</th>
                      <th>STATUS</th>
                      <th>DETAILS</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>
                        <img src="images/PYONG art - 1.png" class="width-45-px padding-left-10" />
                    </td>
                    <td>Contact Eleven</td>
                    <td>878dsjdhja8sajac786jska98a87a6aj</td>
                    <td>Millie Bobby Brown</td>
                    <td>T-shirt</td>
                    <td>U$6</td>
                    <td>
                        <div class="switch">
                            <label>
                               <input type="checkbox">
                               <span class="lever"></span>
                            </label>
                        </div>
                    </td>
                    <td><a href="">more details</a></td>
                  </tr>
                  <tr>
                    <td>
                        <img src="images/PYONG art - 1.png" class="width-45-px padding-left-10" />
                    </td>
                    <td>Contact Eleven</td>
                    <td>878dsjdhja8sajac786jska98a87a6aj</td>
                    <td>Millie Bobby Brown</td>
                    <td>T-shirt</td>
                    <td>U$6</td>
                    <td>
                        <div class="switch">
                            <label>
                               <input type="checkbox">
                               <span class="lever"></span>
                            </label>
                        </div>
                    </td>
                    <td><a href="">more details</a></td>
                  </tr>
                  <tr>
                    <td>
                        <img src="images/PYONG art - 1.png" class="width-45-px padding-left-10" />
                    </td>
                    <td>Contact Eleven</td>
                    <td>878dsjdhja8sajac786jska98a87a6aj</td>
                    <td>Millie Bobby Brown</td>
                    <td>T-shirt</td>
                    <td>U$6</td>
                    <td>
                        <div class="switch">
                            <label>
                               <input type="checkbox">
                               <span class="lever"></span>
                            </label>
                        </div>
                    </td>
                    <td><a href="">more details</a></td>
                  </tr>
                </tbody>
          </table>
        </div>
        <div class="container">
            <div class="row right-align">
                <ul class="pagination">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!">3</a></li>
                <li class="waves-effect"><a href="#!">4</a></li>
                <li class="waves-effect"><a href="#!">5</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
              </ul>
            </div>
        </div>
    </div>
    <footer class="padding-v-40 background-grey">
        <div class="container">
            <div class="row">
                <div class="col m3 s6">
                    <img src="images/logo-grey.png" />
                    <p class="margin-0">Create your content</p>
                    <p class="margin-0">Sell your product</p>
                    <p class="text-grey margin-top-55">&copy; 2017 YOOBE</p>
                </div>
                <div class="col m3 s6">
                    <p class="text-grey">YOOBE.ME</p>
                    <ul class="footer-menu">
                        <li><a href="">About Us</a></li>
                        <li><a href="">Influencers</a></li>
                        <li><a href="">Fans</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                    <div class="row">
                      <form class="col s12">
                        <div class="row">
                          <div class="input-field col s12">
                            <input id="email" type="email" class="validate">
                            <label for="email" data-error="wrong" data-success="right">Subscribe to yoobe news</label>
                          </div>
                          <a class="waves-effect waves-light btn btn-pink margin-left-10">Subscribe</a>
                        </div>
                      </form>
                    </div>
                </div>
                <div class="col m3 s6">
                    <p class="text-grey">INFORMATION</p>
                    <ul class="footer-menu">
                        <li><a href="">Terms and Conditions</a></li>
                        <li><a href="">Privacy policy</a></li>
                        <li><a href="">Faq</a></li>
                    </ul>
                </div>
                <div class="col m3 s6">
                    <p class="text-grey">INSTAGRAM</p>
                    <ul class="list-inline">
                        <li><img src="images/dummy-img.png" /></li>
                        <li><img src="images/dummy-img.png" /></li>
                        <li><img src="images/dummy-img.png" /></li>
                        <li><img src="images/dummy-img.png" /></li>
                        <li><img src="images/dummy-img.png" /></li>
                        <li><img src="images/dummy-img.png" /></li>
                    </ul>
                    <p class="text-grey">FOLLOW US</p>
                    <ul class="list-inline">
                        <li class="margin-right-5"><a class="btn-floating waves-effect waves-light btn-facebook"><i class="fa fa-facebook"></i></a></li>
                        <li class="margin-right-5"><a class="btn-floating waves-effect waves-light btn-twitter"><i class="fa fa-twitter"></i></a></li>
                        <li class="margin-right-5"><a class="btn-floating waves-effect waves-light btn-instagram"><i class="fa fa-instagram"></i></a></li>
                        <li class="margin-right-5"><a class="btn-floating waves-effect waves-light btn-pinterest"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="https://use.fontawesome.com/cb12bcc530.js"></script>
    <script src="js/init.js"></script>
    <script src="js/modernizr.custom.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/search.js"></script>
</body>

</html>